@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text-gradient: linear-gradient(
		45deg,
		#8e9ffa 0%,
		#f874ef 10%,
		#ffcc70 29%,
		#ffe7b9 100%
	);
	--text-main: #2f4286;
	--lighter-purple: #4153a3;
}

* {
	/* put everything on top of the particles */
	z-index: 50;
}

body {
	max-width: 100%;
	overflow-x: hidden;
	height: 100%;
	margin: 0px;
	padding: 0px;
	/* background-color: rgb(18, 18, 18); */
	color: var(--text-main);
	font-size: 1rem;
	font-family: Raleway, Arial, sans-serif;
	line-height: 1.5rem;
	font-weight: 400;
	text-rendering: optimizelegibility;
}

html {
	scroll-behavior: smooth;
	max-width: 100%;
	overflow-x: hidden;
}

nav a {
	color: var(--text-main);
}

h1 {
	background-color: #4158d0;
	background-image: linear-gradient(
		43deg,
		#a162e8 0%,
		#f7ce68 46%,
		#85ffbd 100%
	);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	font-size: 1.4rem !important;
	background-color: #8e9ffa;
	background-image: var(--text-gradient);

	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.patterns {
	background-image: url('./images/coding1.png');
	background-repeat: no-repeat;

	position: relative;
}
@media (min-width: 768px) {
	.patterns {
		background-size: 55%;
	}
}

img {
	display: block;
	width: 100%;
	height: 100%;
}

input {
	height: 40px;
}

input:focus, textarea:focus {
	
}

.hero {
	height: calc(100vh - 160px);
}

input,
textarea{
	border-radius: 0.3rem;
	border: 1px solid transparent;
	border: 1px solid transparent;
	background-image: linear-gradient(white, white),
		linear-gradient(43deg, #a162e8 0%, #f7ce68 100%);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

*:focus:not(.focus-visible) {
	outline: none;
}


/* Loader */

.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes sk-foldCubeAngle {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

.education {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);

	transform: skewY(-10deg);
	z-index: -1;
}

.education section {
	transform: skewY(10deg);
	background-color: #374893;
	color: white;
}

.education header {
	transform: skewY(10deg);
}

.projectSlider {
	height: 500px;
}
@media (min-width: 768px) {
.projectSlider {
	height: 600px;
}
}

.react-3d-carousel .slider-container .slider-right div, .slider-left div {
	border: none !important;
	color: black !important;
}

.portfolio-img{
	aspect-ratio: 16/9;
	object-fit: cover;
}